section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

.header {
    width: 100%;
    font-size: 1.5rem;
}

section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    min-height: 800px;
    box-shadow: 0 3px 6px #00000029;
}

.line {
    padding: 0;
    margin: 0;
}

.header hr {
    width: 100%;
}

#about {
    width: 100%;
    height: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.contact {
    padding: 0;
}

#about i {
    color: #94B4A4;
    display: block;
    text-align: center;
}

h1 {
    margin-top: 0;
}

@media only screen and (max-device-width: 420px) {
    section {
        margin-top: 12rem;
    }

    #about {
        margin: 0;
    }

    .line {
        width: 100%;
        padding: 0!important;
    }

    p {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 3rem;
    }
}