:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --light-green: #D2F5E3;
    --dark-green: #94B4A4;
    --light-beige: #F4D9C6;
    --dark-beige: #E5C5B5;
    --shadow-color: #00000056;
    --grey: #878787;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, var(--dark-green) 0%, var(--light-green) 100%) 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-login {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-container {
    width: 50%;
}

form.login-form {
    height: 80vh;
    filter: drop-shadow(0 15px 30px var(--shadow-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    background: white;
    opacity: 0.75;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
}

.input-1 {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    background: white;
    opacity: 0.75;
    clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0 85%);
}

.input-2 {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    background: white;
    opacity: 0.75;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}

.input-2-flat {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    background: white;
    opacity: 0.75;
    clip-path: polygon(0 0, 100% 15%, 100% 90%, 0 90%);
}

.input-2-register {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    background: white;
    opacity: 0.75;
    clip-path: polygon(0 5%, 100% 5%, 100% 85%, 0 100%);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(0 15px 30px, var(--shadow-color));
    width: 30vw;
    height: 10vh;
    background: white;
    opacity: 0.75;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

#create-acc-button {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    clip-path: polygon(10% 30%, 95% 25%, 95% 80%, 10% 80%);
    background: var(--light-beige) 0 0 no-repeat padding-box;
}

#login-button {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    clip-path: polygon(5% 25%, 90% 20%, 90% 80%, 5% 80%);
    background: var(--light-beige) 0 0 no-repeat padding-box;
}

#login-button:hover, #create-acc-button:hover {
    background: var(--dark-beige);
    cursor: pointer;
}

#login-button:active, #create-acc-button:active {
    background: var(--light-beige);
    cursor: pointer;
}

span {
    filter: drop-shadow(-1px 6px 3px var(--shadow-color));
    width: 50%;
}

.no-valid {
    background: indianred;
    color: black;
    width: 100%;
}

.message {
    display: block;
    min-height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: indianred;
}

@media only screen and (max-device-width: 420px) {
    .login-container, .logo {
        width: 100%;
    }

    form {
        justify-content: flex-start;
    }

    .logo {
        width: 40vw;
        justify-content: center;
    }

    .buttons, .input-1, .input-2, .input-2-flat {
        width: 60vw;
        height: 7vh;
    }

    img {
        height: 10em;
    }

    input {
        font-size: 2.5rem;
    }

    #create-acc-button, #login-button {
        font-size: 2rem;
    }

    form {
        height: 60vh;
    }

    .message {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .input-2-register {
        width: 60vw;
        height: 7vh;
    }
}

@media only screen and (min-device-width: 420px) and (max-device-width: 1024px){
    .login-container, .logo {
        width: 100%;
    }

    .buttons, .input-1, .input-2, .input-2-flat {
        width: 50vw;
        height: 6vh;
    }

    img {
        height: 8em;
    }

    input {
        font-size: 1.4rem;
    }

    #create-acc-button, #login-button {
        font-size: 1.4rem;
    }

    .message {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .input-2-register {
        width: 50vw;
        height: 6vh;
    }
}