:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    --light-green: #D2F5E3;
    --dark-green: #94B4A4;
    --light-beige: #F4D9C6;
    --dark-beige: #E5C5B5;
    --shadow-color: #00000056;
    --grey: #878787;
    --dark-grey: #666666;
    overflow-x: hidden;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

.header {
    width: 100%;
}

section > div {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    height: 700px;
    box-shadow: 0 3px 6px #00000029;
}

.edit-profile {
    font-size: 1rem;
    padding-top: 0.5rem;
}

#edit-button {
    text-decoration: none;
    color: black;
}

#edit-button:active {
    color: var(--dark-grey);
}

.line {
    width: 100%;
    padding: 0;
}

#profile-1 hr {
    width: 100%;
}

#profile-2 .line {
    width: 80%;
}

#profile-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 4rem;
}

.profile-photo {
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    width: 20rem;
    height: 20rem;
    border: 1px solid var(--dark-grey);
}

.profile-photo > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}

#user-data {
    display: flex;
    justify-content: center;
}

#profile-2 .line {
    padding-left: 0;
}

#profile-2 hr {
    width: 100%;
}

#user-data {
    margin:2rem;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.right-td {
    padding: 0 0 0 2rem;
    text-align: right;
}

.left-td {
    padding: 0 2rem 0 0;
}

td > .fas {
    margin: 0;
}

#user-data td {
    font-weight: bold;
    padding-right: 3rem;
}

#user-data td.details {
    padding-left: 3rem;
    padding-right: 0;
    font-weight: normal;
}

td .fas {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.details {
    text-align: right;
    font-size: 1.7rem;
    font-weight: normal;
    margin-left: 4rem;
}

#user-stats td {
    font-weight: normal;
}

#user-stats {
    font-size: 1.3rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-device-width: 420px) {
    section {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
        padding: 4rem;
        margin-bottom: 10rem;
        margin-top: 12rem;
    }

    h1 {
        font-size: 3rem;
    }

    .edit-profile {
        font-size: 2rem;
        padding-top: 1.5rem;
    }

    #profile-photo-container {
        font-size: 3rem;
    }
    
    .profile-photo {
        width: 25rem;
        height: 25rem;
    }

    section > div {
        height: 800px;
    }

    #user-data {
        font-size: 3rem;
        display: flex;
        justify-content: space-between;
    }

    .details {
        font-size: 2.5rem;
    }

    #user-stats {
        font-size: 2.5rem;
    }
    
    td .fas {
        font-size: 2rem;
    }

    .line {
        padding: 0!important;
    }

    #user-data {
        margin: 0;
    }
}

@media only screen and (min-device-width: 420px) and (max-device-width: 1336px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}
