:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    --light-green: #D2F5E3;
    --dark-green: #94B4A4;
    --light-beige: #F4D9C6;
    --dark-beige: #E5C5B5;
    --shadow-color: #00000056;
    --grey: #878787;
    --dark-grey: #666666;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--dark-green);
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    position: absolute;
    bottom: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--light-green);
    text-decoration: none;
}

.link-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms, visibility 250ms;
    color: var(--light-green);
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3rem;
}

.fas {
    margin: 1.4rem;
    font-size: 2rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 250ms ease-in-out;
}

.navbar:hover .nav-link {
    transition: 250ms ease-in-out;
}

.nav-link:hover .link-text {
    color: var(--dark-green);
}

.nav-link:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
}

.nav-link:active {
    color: white;
}

.nav-link:active .link-text {
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: var(--grey);
}

.logo {
    width: 70%;
    text-align: center;
}

.logo img {
    width: 40%;
}

.button {
    width: 10%;
    height: 100%;
}

.button-link {
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-green)
}

.button .fas {
    margin: 0;
    padding: 0;
}

.button-text {
    font-size: 1rem;
    text-align: center;
    padding-top: 0.5rem;
}

.button:hover {
    background-color: var(--dark-grey);
    transition: 250ms ease-in-out;
}

.button-link:active {
    color: white;
}

.nav-arrow {
    width: 100%;
    height: 15vh;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    background-color: var(--grey);
}

.nav-arrow .nav-link {
    height: 100%;
}

.nav-arrow .nav-link:hover .link-text {
    color: var(--light-green);
}

.nav-arrow .nav-link:hover {
    background-color: var(--dark-green);
    color: var(--light-green);
}

.nav-arrow .fas {
    transform: rotate(0deg);
    transition: transform 250ms;
}

.navbar:hover .nav-arrow .fas {
    transform: rotate(-540deg);
}

.nav-arrow .link-text {
    display: none;
}

.line > hr {
    border: 2px solid var(--dark-green);
    border-radius: 5px;
    width: 80%;
    text-align: left;
    margin: 0;
}

@media only screen and (max-device-width: 420px) {
    
    main {
        margin: 0;
    }

    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
    }

    .logo {
        width: 55%;
    }

    .logo img {
        width: 80%;
    }
    
    .button {
        width: 15%;
    }
    
    .button .fas {
        font-size: 3rem;
    }
    
    .button-text {
        font-size: 1.5rem;
    }

    .line {
        padding: 0 4rem 0 4rem;
    }
    
    .line > hr {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .nav-arrow {
        display: none;
    }

    .navbar {
        width: 100vw;
        height: 10rem;
        bottom: 0;
    }

    .navbar-nav {
        height: 100%;
        flex-direction: row;

    }
    
    .nav-item {
        height: 100%;
    }
    
    .nav-item:last-child {
        position: static;
    }
    
    .nav-link {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    
    .nav-link .fas {
        padding: 0;
        margin: 0 0 0.5rem 0;
    }

    .nav-item:nth-child(3), .nav-item:nth-child(4) {
        display: none;
    }

    .link-text {
        opacity: 1;
        visibility: visible;
        font-size: 2rem;
    }
    
    .fas {
        margin: 1.4rem;
        font-size: 3rem;
    }
    
    .navbar:hover {
        width: 100vw;
    }
    
    .navbar:hover .link-text {
        font-size: 2rem;
    }
}