section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

.header {
    width: 100%;
    font-size: 1.5rem;
}

section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    min-height: 800px;
    box-shadow: 0 3px 6px #00000029;
}

.line {
    width: 100%;
    padding: 0;
}

.header hr {
    width: 100%;
}

#inputs {
    width: 100%;
    height: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 70%;
}

form label {
    font-size: 1.5rem;
    background: var(--dark-green);
    display: inline-block;
    margin: 0;
    height: 7vh;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px #00000029;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    width: 100%;
}

h1 {
    margin-top: 0;
}

form input, textarea {
    margin: 0 0 1.3rem 0;
    width: 100%;
    height: 5vh;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
    outline: none;
    border: none;
    color: var(--dark-grey);
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px #00000029;
    box-sizing: border-box;
}

form textarea {
    resize: none;
    height: 30vh;
    padding-top: 1rem;
    font-family: "Roboto", sans-serif;
}

input[name="image"] {
    height: 10vh;
    display: flex;
    padding: 2rem;
}

input:hover, textarea:hover {
    box-shadow: 0 12px 24px #00000029;
}

#button {
    display: block;
    width: 50%;
    margin: 2rem auto 0;
    background: var(--light-beige);
    box-shadow: none;
    color: black;
    border: 2px solid var(--dark-beige);
}

#button:hover {
    background: var(--dark-beige);
    box-shadow: 0 12px 24px #00000029;
    color: black;
    cursor: pointer;
}

#upload {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.message {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    height: 1vh;
    letter-spacing: 1px;
}

@media only screen and (max-device-width: 420px) {
    section {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    form {
        width: 100%;
    }

    form input, textarea {
        height: 5vh;
        font-size: 2rem;
    }

    form label {
        height: 5vh;
        font-size: 2rem;
    }

    .line {
        padding: 0!important;
    }

    h1 {
        font-size: 3rem;
    }

    .header {
        margin-top: 3rem;
    }

    .message {
        font-size: 2rem;
    }
}