body {
    overflow-x: hidden;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    padding: 2rem 0 2rem 2rem;
}

.search {
    width: 60%;
    height: 3rem;
    outline: none;
    border: none;
    color: var(--dark-grey);
    font-family: "Roboto", sans-serif;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px #00000029;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.search:focus {
    background-color: var(--light-beige);
    box-shadow: 0 6px 12px #00000029;
}

.search:hover {
    box-shadow: 0 6px 12px #00000029;
}

.search-button {
    height: 100%;
    width: 10%;
    background-color: var(--grey);
    text-align: center;
    border: none;
    outline: none;
    color: var(--light-green);
    border-radius: 0.2rem;
    box-sizing: border-box;
    box-shadow: 0 3px 6px #00000029;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--dark-grey);
}

.search-button:active {
    color: white;
    background-color: grey;
}

.line {
    padding-left: 2rem;
}

.line > hr {
    border: 2px solid var(--dark-green);
    border-radius: 5px;
    width: 80%;
    text-align: left;
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

.posts div img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.posts > div > div {
    font-family: "Roboto", sans-serif;
    height: 50%;
    color: var(--dark-green);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.posts > div {
    border-radius: 0.2rem;
    height: 500px;
    box-shadow: 0 3px 6px #00000029;
}

.social-section {
    margin: 0 1rem 1rem 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    min-height: 3rem;
}

.posts div span {
    font-weight: bold;
    margin: 0.5rem;
}

.posts div .fas {
    font-size: 1rem;
    margin: 0.5rem 0.1rem 0.5rem 0.5rem;
}

.posts h2 {
    margin: 0;
    color: black;
}

.posts p {
    margin-top: 0;
    padding-top: 1rem;
    color: var(--dark-grey);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.posts > div:hover {
    cursor: pointer;
    box-shadow: 0 12px 24px #00000029;
}

#header {
    margin-left: 2rem;
}

.message {
    font-size: 1.5rem;
    margin: 1rem 0 0 2rem;
}

@media only screen and (max-device-width: 420px) {
    section {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
        padding: 4rem;
        margin-bottom: 10rem;
    }
    
    .posts > div > div {
        margin: 2rem;
        font-size: 2rem;
    }
    
    .posts > div {
        height: 800px;
    }
    
    .social-section {
        margin: 4rem;
        font-size: 2rem;
    }
    
    .posts > div > div > div > span {
        display: flex;
        align-items: center;
    }
    
    .posts div .fas {
        font-size: 2rem;
        margin: 2rem 0.5rem 2rem 2rem;
    }

    #header {
        margin-top: 16rem;
        margin-left: 4rem;
        font-size: 1.5rem;
    }

    .search-bar {
        margin-top: 13rem;
        height: 4rem;
        align-items: center;
        justify-content: center;
        padding: 3rem 4rem 4rem 4rem;
    }

    .search {
        width: 70%;
        height: 100%;
        font-size: 2rem;
    }

    .search-button {
        height: 100%;
        width: 20%;
        font-size: 2rem;
    }
}