:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    --light-green: #D2F5E3;
    --dark-green: #94B4A4;
    --light-beige: #F4D9C6;
    --dark-beige: #E5C5B5;
    --shadow-color: #00000056;
    --grey: #878787;
    --dark-grey: #666666;
}
section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}

.header {
    width: 100%;
    font-size: 1.5rem;
}

section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    min-height: 800px;
    box-shadow: 0 3px 6px #00000029;
}

.line {
    width: 100%;
    padding: 0;
}

.header hr {
    width: 100%;
}
#post-container
{
    width: 100%;
}
#post-details
{
    width: 100%;
}
#img
{
    width: 100%;
    height: 70vh;
}
#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.label
{
    width: 100%;
    height: 7vh;
    background: var(--dark-green);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px #00000029;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    box-sizing: border-box;
}

.label-content
{
    width: 100%;
    min-height: 15vh;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px #00000029;
    font-size: 1.3rem;
    text-align: justify;
    padding: 1.5rem;
    box-sizing: border-box;
}

#post-statistics
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 20vh;
    background: var(--dark-green);
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px #00000029;
}

#left
{
    grid-template-columns: 0.5fr 2fr;
    display: grid;
    padding-left: 4rem;
    align-items: center;
}
#right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-right: 6rem;
}

#right i
{
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    color: var(--light-green);
    margin: 0;
}

#right i:hover
{
    color: white;
}

#right i:active
{
    color: var(--dark-beige);
}

#user-img
{
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--light-green);
}

#user-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#info
{
    font-size: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

#right span
{
    color: var(--dark-beige);
    font-size: 2rem;
    font-weight: bold;
}

@media only screen and (max-device-width: 420px) {
    .header {
        font-size: 3rem;
    }

    section {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    #img
    {
        height: 20vh;
    }

    .label
    {
        width: 100%;
        font-size: 3rem;
    }

    .label-content
    {
        font-size: 2.6rem;
    }

    #post-statistics
    {
        height: 12vh;
    }

    #info
    {
        font-size: 2rem;
    }

    #user-img
    {
        height: 6rem;
        width: 6rem;
    }

    #left
    {
        padding: 3rem 0 3rem 3rem;
    }

    #right {
        padding: 0;
    }
}